%h1
  = 'Welcome!'
%p
  = '這是一個 Web APP 的作品展示，讓使用者可以配對並設定他們的裝置。'
%p
  = '此 Web APP 僅提供個人作品展示，非商業用途，請放心測試。'
%p
  = '若您使用 Facebook 或 Google 登入，此網站只會收集您的 email 當作使用者名稱識別，如同您用 email 登入，請參閱'
  = link_to I18n.t('user.labels.private_policy'), private_policy_index_path, target:'_blank'
  = '。'

.panel.panel-zyxel-blue
  .panel-heading
    = '步驟 1：請先登入或註冊。'
  .panel-body
    = image_tag 'help/20200214/step1.png'

.panel.panel-zyxel-blue
  .panel-heading
    = '步驟 2：請按手動加入裝置（Maunally add）。'
  .panel-body
    = image_tag 'help/20200214/step2.png'

.panel.panel-zyxel-blue
  .panel-heading
    = '步驟 3： 內定值已填入，請按提交（Submit）。'
  .panel-body
    = image_tag 'help/20200214/step3.png'

.panel.panel-zyxel-blue
  .panel-heading
    = '步驟 4：確認與此裝置配對（Confirm）。'
  .panel-body
    = image_tag 'help/20200214/step4.png'

.panel.panel-zyxel-blue
  .panel-heading
    = '步驟 5：如果配對成功，請繼續進行其他操作。'
  .panel-body
    = image_tag 'help/20200214/step5.png'