<div class="pre_header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="header_h1_rwd_left">
        <%= link_to_unless( in_oauth_flow?, image_tag("portal.png"), root_path ) %>
      </div>
    </div>
  </div>
</div>

<hr class="header_devider">

<div class="rwd_header">
  <ul class="nav nav-pills nav_zyxel nav_zyxel_rwd">
    <%# Display member link when user signed in %>
    <% if user_signed_in? && !current_page?('/help') && confirmed_or_valid_unconfirmed_access? && !in_oauth_flow?  %>
      <li><%= show_unverified_button %></li>
      <li>

        <%= link_to "", "/personal/profile", class: "member" if confirmed_or_skiped? && !in_oauth_flow? %>
      </li>
    <% end %>

    <% if current_user.nil? && (current_page?(root_path) || current_page?(new_user_session_path))%>
    <li class="dropdown hidden-xs">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t('labels.language') %>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% @options_path.each do |l, value| %>
          <li><%= link_to l, value %></li>
        <% end %>
      </ul>
    </li>
    <% end %>

    <%# Display sign out link when user signed in %>
    <%# if user_signed_in? && !current_page?('/help') && confirmed_or_valid_unconfirmed_access? %>
    <% if user_signed_in? && !current_page?('/help')%>
      <li>
        <%= link_to t("labels.sign_out") , destroy_user_session_path, class: "sign_out" %>
      </li>
    <% end %>
  </ul>
</div>
